// // Typography
$font-size: 16px;

// Refined Palette in Hexadecimal
$primary-light-blue: #dbf6ff;
$primary-sky-blue: #c0d9e2;
$primary-deep-blue: #003366;
$primary-pastel-green: #aadfaa;
$primary-mint-green: #d0fbd0;
$primary-forest-green: #228b22;

$secondary-white: #ffffff;
$secondary-light-grey: #dadada;
$secondary-dark-grey: #858585;

$background-light: #eeeeee;
$background-dark: #728394;
$text-dark: #728394;
$text-light: #eef0f2;

$accent-soft-orange: #ffc966;
$accent-peach: #ffe3c7;
$accent-lavender: #f4f4ff;
$accent-lilac: #e2d6e2;

// Borders
$border-light: #e0e0e0;
$border-dark: #6d6d6d;

// Status Colors
$error-red: #f39d91;
$success-green: #97e7b4;

// Interaction Colors
$hover-blue: #a1c4e3;
$focus-green: #b3e9b3;
